@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --amarelo: #9a6316;
  --amarelo-light: #dea842;
  --amarelo-dark: #b3751b;
  --tom-pele1: hsl(25, 40%, 73%);
  --tom-pele2: #ffc6ab;
  --planta-width: 165px;
  --planta-height: 120px;
  --rosto-width: 170px;
  --rosto-height: 220px;
  --deschamps-width: 200px;
  --deschamps-height: 530px;
  --width-hair: 170px;
  --height-hair: 80px;
  --hair-color: #9b6316;
  --hair2-color: #dda842;
  --hair3-color: #c9841f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7a99b7;
  background-image: radial-gradient(ellipse, #c7d7ee, #5d83a7);
  overflow: hidden;
  font-family: "Indie Flower", cursive;
}
.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.laptop {
  width: 400px;
  height: 300px;
  background-color: #222;
  background-image: radial-gradient(
    at 100% bottom,
    #655a6d 0%,
    #3b3848 44%,
    #0b0b0f 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -3px 2px #888699;
  border-radius: 3%;
  position: relative;
  z-index: 3;
  transform: skew(15deg, 1deg) rotateX(-10deg) translate(-25px, 5px);
}
.laptop::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: 5px;
  right: -77px;
  border-bottom: 17px solid rgba(0, 0, 0, 0.8);
  border-right: 80px solid transparent;
  transform: rotate(-1deg);
}
i.apple {
  background: #2b3248;
  background-image: linear-gradient(to bottom right, #000002 47%, #2b3248 53%);
  width: 50px;
  height: 47px;
  position: absolute;
  border-radius: 35% 35% 41% 41% / 42% 42% 75% 75%;
  opacity: 0.5;
}
i.apple:before {
  content: "";
  display: block;
  background: #000002;
  width: 16px;
  height: 14px;
  transform: translate(24px, -14px);
  border-radius: 100px 0;
  position: relative;
  z-index: 3;
}

i.apple:after {
  content: "";
  background: transparent;
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 14px -35px 0 #312f3c, /* CIRCLE TOP */ 12px 27px 0 #3b3847,
    /* CIRCLE BOTTOM */ 39px -10px 0 #393646; /* CIRCLE RIGHT */
}

.table {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 15px;
  background-color: #b6b0ba;
  background-image: linear-gradient(to bottom, #e0d8e0, #b6b0ba);
  box-shadow: 5px -2px 8px rgba(0, 0, 0, 0.2),
    inset 5px -5px 10px rgba(0, 0, 0, 0.3);
}
.planta {
  position: absolute;
  right: 0;
  bottom: 0;
  width: var(--planta-width);
  height: var(--planta-height);
  z-index: 3;
}

.planta::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #515e6b 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #808a90 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #515e6b 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #515e6b 0
      )
      0 0,
    linear-gradient(
        150deg,
        #515e6b 24%,
        #808a90 0,
        #808a90 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #808a90 0,
        #808a90 76%,
        #515e6b 0
      )
      0 0,
    linear-gradient(
        30deg,
        #515e6b 24%,
        #808a90 0,
        #808a90 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #808a90 0,
        #808a90 76%,
        #515e6b 0
      )
      0 0,
    linear-gradient(90deg, #808a90 2%, #6d7f91 0, #353e47 98%, #808a90 0%) 0 0
      #808a90;

  background-size: 40px 60px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  box-shadow: inset 0 -11px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4%;
}
.planta::before {
  content: "";
  display: block;
  width: 70px;
  height: var(--planta-height);
  background-color: #fff;
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 10%;
  filter: blur(20px);
  opacity: 0.5;
}
.folhas {
  display: block;
  width: calc(100% - 3px);
  height: 19px;
  background: #69849c;
  box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0.9);
  border-radius: 100% 100% 0 0;
  transform: translateY(10px);
  margin: 0 auto;
  position: relative;
}
.folhas::before {
  content: "";
  display: block;
  background-color: #4a4d1c;
  box-shadow: inset 4px 5px 4px rgba(0, 0, 0, 0.2);
  height: calc(var(--planta-height) * 2);
  width: 10px;
  position: absolute;
  top: -200px;
  z-index: 2;
  left: 47%;
  border-radius: 20%;
}
.folhas::after {
  content: "";
  display: block;
  width: 130px;
  height: 80px;
  background-color: #333;
  position: absolute;
  left: calc(var(--planta-width) / 10);
  top: calc(var(--planta-height) / -10);
  z-index: 3;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.folhas div,
.folhas div::before {
  display: block;
  background: #4a4d1c;
  background-image: linear-gradient(to bottom right, #4a4d1c 47%, #948e47 53%);
  border-radius: 100px 0;
  position: absolute;
  z-index: 3;
  transform: rotate(90deg);
}
.folhas div:nth-child(1) {
  width: calc(var(--planta-width) / 3);
  height: calc(var(--planta-width) / 3);
  top: calc((var(--planta-height) - 45px) * -1);
  left: 21px;
}
.folhas div:nth-child(1)::before {
  content: "";
  width: calc(var(--planta-width) / 3);
  height: calc(var(--planta-width) / 3);
  top: -65px;
  right: 0;
}
.folhas div:nth-child(2) {
  width: 60px;
  height: 60px;
  top: -120px;
  left: 16px;
}
.folhas div:nth-child(2)::before {
  content: "";
  width: 60px;
  height: 60px;
  top: -70px;
  right: 0;
}
.folhas div:nth-child(3) {
  width: 50px;
  height: 50px;
  top: -150px;
  left: 26px;
}
.folhas div:nth-child(3)::before {
  content: "";
  width: 50px;
  height: 50px;
  top: -60px;
  right: 0;
}
.folhas div:nth-child(4) {
  width: 40px;
  height: 40px;
  top: -174px;
  left: 36px;
}
.folhas div:nth-child(4)::before {
  content: "";
  width: 40px;
  height: 40px;
  top: -50px;
  right: 0;
}
.folhas div:nth-child(5) {
  width: 30px;
  height: 30px;
  top: -194px;
  left: 46px;
}
.folhas div:nth-child(5)::before {
  content: "";
  width: 30px;
  height: 30px;
  top: -40px;
  right: 0;
}
.folhas div:nth-child(6) {
  width: 20px;
  height: 20px;
  top: -210px;
  left: 57px;
}
.folhas div:nth-child(6)::before {
  content: "";
  width: 20px;
  height: 20px;
  top: -28px;
  right: 0;
}
.folhas div:nth-child(7) {
  width: 13px;
  height: 13px;
  top: -215px;
  left: 70px;
  transform: rotate(120deg);
}
.folhas div:nth-child(7)::before {
  content: "";
  width: 13px;
  height: 13px;
  top: -9px;
  right: 5px;
  transform: rotate(30deg);
}
.deschamps {
  width: var(--deschamps-width);
  height: var(--deschamps-height);
  position: absolute;
  bottom: 0;
  left: 54%;
  transform: translateX(-50%);
  z-index: 2;
}
.deschamps .light-bg {
  width: calc(var(--deschamps-width) + 40px);
  height: var(--deschamps-height);
  position: absolute;
  top: 0;
  left: -20px;
  right: 0;
  bottom: 0;
  z-index: -9;
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(20px);
}
.rosto-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.rosto {
  height: var(--rosto-height);
  width: var(--rosto-width);
  margin: 0 auto;
  border-radius: 32% 32% 65% 50% / 60% 49% 78% 70%;
  background-image: radial-gradient(ellipse, #dfad94, var(--tom-pele2));
  border-left: 5px solid var(--tom-pele2);
  border-right: 5px solid var(--tom-pele2);
  position: relative;
  border-right: 1px solid #81424a;
  border-left: 1px solid #81424a;
}
.rosto::before {
  content: "";
  display: block;
  width: 30%;
  height: 100%;
  background-color: #81424a;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px) opacity(0.55);
}
.olho {
  transform-origin: center;
  border-radius: 0% 145% 0% 193% / 0% 134% 0% 193%;
  height: 17rem;
  width: 20rem;
  position: absolute;
  transform: scale(0.07) rotate(-35deg);
  overflow: hidden;
  background: #fff;
  top: -50px;
  box-shadow: inset 0.1rem 5rem 1.5rem #280000,
    inset 1rem 0rem 0rem -0.6rem #b42d00, -1rem -0.1rem 1rem -0.9rem #ffffffe6,
    -4rem -4.1rem 6rem -0.5rem #000000e6, -2rem 2.9rem 5rem 0.1rem #c58f84e6,
    -1rem 0.9rem 2rem -0.9rem #ffffffe6, -1rem -0.1rem 1rem -0.5rem #000000e6,
    -0.1rem -0.9rem 0.1rem 0.3rem #00000080,
    -1.3rem 0.9rem 2.9rem -0.1rem #ffffff4d,
    -0.6rem -1.4rem 2.1rem 1.3rem #ab897d, -0.3rem -2rem 0.3rem 0.9rem #000007,
    -0.3rem -3rem 1.3rem 0.9rem #ffffff99, -0.8rem -0.9rem 0.6rem 1rem #00000780,
    -1.5rem 0.1rem 1rem 0.3rem #b17462, -2.2rem 2rem 3rem 0rem #7d5841,
    0.1rem 2rem 3rem #d2a79180, -2.5rem -3.3rem 9rem 7rem #d2a791cc;
}

.olho::before {
  content: "";
  background-color: #000000e6;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.7rem #222b16, 0 0 1.5rem 1.8rem #233e33,
    0 0 1.5rem 4rem #00b176, 0 0 0.8rem 4.5rem #030314,
    0 0 1.5rem 22rem #bbb9d433;
  color: #46464a00;
  font-size: 1.7rem;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 6rem;
  left: 10rem;
}
.olho::after {
  content: "";
  border-radius: 50%;
  box-shadow: 6.5rem 9.5rem 1.4rem -1.2rem #361736,
    6.5rem 9rem 1.4rem -1.2rem #d5bcd5, 8.2rem 7.6rem 1.4rem -1.2rem #d5bcd5,
    7rem 10.5rem 2rem 0 #a48f8c80, 10.5rem 12rem 1rem 4rem #b5676c;
  color: #46464a00;
  font-size: 1.7rem;
  height: 4rem;
  width: 4rem;
  position: absolute;
  top: 6rem;
  left: 10rem;
}
.olho-esquerdo {
  right: -40px;
}
.olho-direito {
  left: -35px;
}
.sobrancelha {
  position: relative;
  top: 36px;
  height: auto;
  width: 100%;
}
.sobrancelha::before,
.sobrancelha::after {
  content: "";
  display: block;
  width: 50px;
  height: 30px;
  position: absolute;
}
.sobrancelha::before {
  transform: rotate(180deg) translate(-28px, -21px);
  border-radius: 50%;
  box-shadow: 6px 8px 0 0 #9b6316;
}
.sobrancelha::after {
  transform: rotate(190deg) translate(19px, -23px);
  border-radius: 76% 100%;
  box-shadow: 2px 9px 0 0 #9b6316;
  right: 0;
}

.nariz {
  background-color: #d39674;
  background: linear-gradient(to bottom, #d9b099 0%, #d38c78 100%);
  width: 30px;
  height: 40px;
  transform: translate(-50%, -10%);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50% 50% 50% 50% / 71% 71% 29% 29%;
  border-bottom: 1px solid #7b434c;
}
.bochecha {
  position: relative;
  z-index: 2;
  top: 110px;
  height: auto;
  width: 100%;
}
.bochecha::before,
.bochecha::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #d38c78;
  filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 6px 3px 0px 5px rgba(97, 64, 55, 0.4);
}
.bochecha::before {
  left: 10%;
}
.bochecha::after {
  right: 10%;
}

.orelha {
  position: relative;
  top: 70px;
  height: auto;
  width: 100%;
}

.orelha::before,
.orelha::after {
  content: "";
  display: block;
  background-color: #dab29d;
  clip-path: circle(50% at 0 50%);
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: -1;
  box-shadow: inset -3px -20px 15px 4px rgba(182, 119, 87, 0.5);
}
.orelha::before {
  left: -47px;
  transform: rotate(185deg) skew(25deg);
}
.orelha::after {
  right: -44px;
  transform: rotate(7deg) skew(-25deg);
}
.sinal {
  background-color: #a0634e; /* SIM, esse é o hexadecimal do seu sinal */
  width: 4px;
  height: 4px;
  position: absolute;
  bottom: 65px;
  right: 60px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.boca {
  width: 70px;
  height: 28px;
  background-color: #f0f0de;
  background-image: linear-gradient(80deg, #888 1%, transparent 6%, #bbb 93%),
    linear-gradient(10deg, #000 1%, transparent 6%, #ccc 93%);
  background-size: 8px 7px;
  background-repeat: repeat;
  position: absolute;
  bottom: 30px;
  left: 50%;
  border-top: 8px solid #9a5e57;
  border-bottom: 6px solid #9c6564;
  border-left: 5px solid #9c6564;
  border-right: 2px solid #9c6564;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 10% 45% 51% 80% / 25% 25% 100% 100%;
  box-shadow: inset 5px 1px 4px rgba(0, 0, 0, 0.19),
    inset -4px 0px 3px rgba(0, 0, 0, 0.16);
}
.pescoco {
  position: relative;
  top: -10px;
}
.pescoco::before {
  content: "";
  display: block;
  width: 62px;
  margin: 0 auto;
  height: 50px;
  background-color: var(--tom-pele2);
  position: relative;
  z-index: -1;
}
.pescoco::after {
  content: "";
  display: block;
  width: 93px;
  height: 95px;
  background-color: var(--tom-pele2);
  position: absolute;
  clip-path: circle(55% at 50% 0);
  border-radius: 22%;
  transform: translate(53px, -5px);
}
.pescoco div {
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translate(-50%);
  width: 52px;
  height: 40px;
  background-color: #d38c78;
  filter: blur(8px) opacity(0.6);
  z-index: -1;
}
.corpo {
  background-color: #252430;
  background: radial-gradient(
    ellipse closest-corner at 65px 85px,
    #000 0%,
    #252430 100%
  );
  height: 300px;
  width: 100%;
  border-radius: 45% 43% 0% 0% / 17% 19% 0% 0%;
  position: relative;
  z-index: -1;
  top: -15px;
}
.oculos {
  position: absolute;
  top: 66px;
  left: 20px;
  width: 77%;
}
.oculos::before,
.oculos::after {
  content: "";
  display: block;
  border-radius: 50% 51% 49% 50% / 20% 20% 40% 40%;
  background-color: transparent;
  border: 3px solid #1e2243;
  width: 59px;
  height: 40px;
  position: absolute;
}
.oculos::after {
  right: 0;
}
.oculos .ponte {
  width: 13px;
  height: 4px;
  position: absolute;
  top: 16px;
  background-color: #1e2243;
  left: 50%;
  transform: translate(-50%);
}
.oculos .ponte::before,
.oculos .ponte::after {
  content: "";
  display: block;
  clip-path: circle(41.8% at 0 47%);
  width: 10px;
  height: 15px;
  position: absolute;
  top: -5px;
  z-index: 2;
  background-color: #000;
}
.oculos .ponte::after {
  right: 0;
  clip-path: circle(41.8% at 100% 49%);
}
.oculos .haste::before,
.oculos .haste::after {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  position: absolute;
  top: 16px;
  background-color: #1e2243;
}
.oculos .haste::before {
  left: -20px;
}
.oculos .haste::after {
  right: -20px;
}

.fala {
  width: 320px;
  height: 80px;
  background: white;
  position: absolute;
  border-radius: 10px;
  right: -350px;
  top: 100px;
  transform: rotate(-5deg);
  padding: 12px 20px 0 20px;
  font-size: 24px;
  line-height: 1.7rem;
  color: var(--amarelo-dark);
  box-shadow: 6px 4px 0 3px rgba(0, 0, 0, 0.4);
}
.fala:before {
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
  content: "";
}
i.youtube-icon {
  display: block;
  width: 200px;
  height: 130px;
  border-radius: 30px;
  background-color: #ff0000;
  background: linear-gradient(to bottom, #ff0000 30%, orangered 100%);
  position: absolute;
  top: 5%;
  right: 5%;
}
i.youtube-icon::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 60px solid #fff;
  border-right: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  transform: translate(90%, 60%);
}
@media screen and (max-width: 768px) {
  .planta {
    transform: scale(0.7);
  }
}

.cabelo {
  width: var(--width-hair);
  height: var(--height-hair);
  transform: translate(0px, 0px);
  position: absolute;
  z-index: 2;
}
.cabelo div:nth-child(1) {
  border-radius: 30% 70% 0% 50% / 45% 100% 0% 50%;
  background-color: var(--hair-color);
  background: radial-gradient(
    circle at bottom left,
    var(--hair2-color) 0%,
    var(--hair-color) 60%,
    var(--hair3-color) 100%
  );
  width: 100px;
  height: 60px;
  box-shadow: inset -10px -21px 20px var(--hair-color),
    8px 21px 0 -14px rgba(0, 0, 0, 0.075);
  transform: rotate(28deg);
  position: absolute;
  right: -45px;
  bottom: 27px;
}
.cabelo div:nth-child(1)::before {
  content: "";
  display: block;
  width: 66px;
  height: 44px;
  transform: rotate(174deg) translate(-35px, -15px);
  border-radius: 81% / 100%;
  box-shadow: 3px 20px 0 0 var(--hair-color);
  position: absolute;
  bottom: -46px;
  right: 7px;
  z-index: -1;
  transform: rotate(-143deg);
}
.cabelo div:nth-child(2) {
  border-radius: 70% 55% 10% 71% / 90% 78% 0% 50%;
  background-color: var(--hair-color);
  background: radial-gradient(
    circle at top left,
    var(--hair-color) 50%,
    var(--hair2-color) 100%
  );
  width: 124px;
  height: 62px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  transform: rotate(-6deg);
  position: absolute;
  z-index: -2;
  right: 34px;
  bottom: 48px;
}
.cabelo div:nth-child(2)::before {
  content: "";
  display: block;
  width: 58px;
  height: 47px;
  position: absolute;
  transform: rotate(174deg) translate(-35px, -15px);
  border-radius: 80% / 100%;
  box-shadow: 10px 16px 0 0 var(--hair-color);
  top: 47px;
}
.cabelo div:nth-child(3) {
  border-radius: 47% 75% 69% 24% / 41% 48% 60% 50%;
  background-color: var(--hair-color);
  background: radial-gradient(
    ellipse at top left,
    var(--hair-color) 30%,
    var(--hair2-color) 100%
  );
  width: 51px;
  height: 70px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  left: -17px;
  bottom: 36px;
  z-index: -2;
  transform: rotate(-129deg);
  transform-origin: center;
}
.cabelo div:nth-child(4) {
  border-radius: 70% 30% 61% 39% / 60% 26% 74% 40%;
  background-color: var(--hair-color);
  width: 57px;
  height: 70px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  left: -22px;
  bottom: 5px;
  z-index: -9;
  transform: rotate(12deg);
  transform-origin: center;
}
.orelha .hp:nth-child(1) {
  clip-path: circle(50% at 0%);
  background-color: var(--hair-color);
  width: 76px;
  height: 90px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  right: -57px;
  bottom: -66px;
  z-index: -7;
}
.orelha .hp:nth-child(2) {
  background-color: var(--hair-color);
  border-radius: 63% 37% 100% 0% / 100% 0% 100% 0%;
  width: 70px;
  height: 95px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  left: -36px;
  bottom: -85px;
  z-index: -6;
  transform: rotate(-40deg);
}
.orelha .hp:nth-child(2)::before {
  content: "";
  display: block;
  width: 58px;
  height: 41px;
  position: absolute;
  transform: rotate(-84deg) translate(-12px, -41px);
  border-radius: 100% / 100%;
  box-shadow: -7px 14px 0 0 var(--hair-color);
  bottom: 0px;
  z-index: -8;
}
.orelha .hp:nth-child(2)::after {
  content: "";
  display: block;
  width: 63px;
  height: 56px;
  position: absolute;
  transform: rotate(-35deg) translate(-50px, -32px);
  border-radius: 65% / 68%;
  box-shadow: 11px 15px 0 0 var(--hair-color);
  bottom: 0px;
  z-index: -8;
}
.orelha .hp:nth-child(3) {
  background-color: var(--hair-color);
  border-radius: 63% 37% 100% 0% / 100% 0% 100% 0%;
  width: 70px;
  height: 95px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  right: -30px;
  bottom: -85px;
  z-index: -6;
  transform: rotate(-40deg);
}
.orelha .hp:nth-child(3)::before {
  content: "";
  display: block;
  width: 52px;
  height: 36px;
  position: absolute;
  transform: rotate(119deg) translate(49px, 21px);
  border-radius: 50%;
  box-shadow: -14px 16px 0 0 var(--hair-color);
  bottom: 0px;
  z-index: -8;
}
.orelha .hp:nth-child(3)::after {
  content: "";
  display: block;
  width: 61px;
  height: 56px;
  position: absolute;
  transform: scale(-1) rotate(-8deg) translate(10px, -33px);
  border-radius: 65% / 68%;
  box-shadow: 11px 15px 0 0 var(--hair-color);
  bottom: 0px;
  z-index: -8;
}
.orelha .hp:nth-child(4) {
  background-color: var(--hair-color);
  border-radius: 63% 37% 100% 0% / 100% 0% 100% 0%;
  width: 80px;
  height: 97px;
  box-shadow: inset -10px -21px 20px var(--hair-color);
  position: absolute;
  bottom: 1px;
  z-index: -6;
  transform: rotate(-19deg);
}
.orelha .hp:nth-child(5) {
  background-color: var(--hair-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 92px;
  z-index: -8;
  left: 33px;
}
.orelha .hp:nth-child(5)::before {
  content: "";
  display: block;
  background-color: var(--hair-color);
  border-radius: 63% 37% 100% 0% / 100% 0% 100% 0%;
  width: 50px;
  height: 46px;
  position: absolute;
  top: 0px;
  z-index: -8;
  left: -20px;
}
.orelha .hp:nth-child(5)::after {
  content: "";
  display: block;
  background-color: var(--hair-color);
  border-radius: 63% 37% 100% 0% / 100% 0% 100% 0%;
  width: 50px;
  height: 46px;
  position: absolute;
  top: 0px;
  z-index: -8;
  right: -20px;
}
